{% extends "base.html" %}
{% block title %}{% if BLOGTITLE %}{{ BLOGTITLE}} - {% endif %}{{ article.title }}{% endblock %}

{% block titletext %}
<div id="sitename">{% if BLOGTITLE %}{{ BLOGTITLE }}{% else %}{{ SITETITLE }}{% endif %} {% if SITESUBTITLE %} <strong>{{ SITESUBTITLE }}</strong>{% endif %}</div> 
{% endblock %}

{% block content %}        

<header>
    <h1>{{ article.title }}</h1>
    {% if not HIDE_DATE %}
    {#<time datetime="{{ article.date.isoformat() }}">{{ article.locale_date }}</time>#}
    <div class="published" title="{{ article.date.isoformat() }}">Posted in <a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a> on {{ article.locale_date }}</div>
    {% endif %}
</header>
<article>
    {{ article.content }}
</article>

    {% include 'disqus.html' %}

    {% if DEFAULT_PAGINATION %}
    {#% if articles_page.has_previous() or articles_page.has_next() %}
    <hr style="margin:20px">
    <p class="paginator">
        {% if articles_page.has_previous() %}
            {% if articles_page.previous_page_number() == 1 %}
        <a href="{{ SITEURL }}/{{ page_name }}.html">&larr;&nbsp;&nbsp;&nbsp;newer</a>
            {% else %}
            <a href="{{ SITEURL }}/{{page_name | replace ('/index','') }}/page/{{ articles_page.previous_page_number() }}">&larr;&nbsp;&nbsp;&nbsp;newer</a>
            {% endif %}
            ::
        {% endif %}
        {% if articles_page.has_next() %}
        <a href="{{ SITEURL }}/{{page_name | replace ('/index','') }}/page/{{ articles_page.next_page_number() }}">older&nbsp;&nbsp;&nbsp;&rarr;</a>
        {% endif %}
    </p>
    {% endif %#}
    {% endif %}
{% endblock %}
