<!DOCTYPE html>
<html lang="en">
<head>
        <title>{% block title %}{{ SITENAME }}{%endblock%}</title>
        <meta charset="utf-8" />
        <link href='http://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>
        {# CSS #}
        <link rel="stylesheet" href="{{ SITEURL }}/theme/css/{{ CSS_FILE }}" type="text/css" />
        {# RSS #}
        <link href="{{ SITEURL }}/{{ FEED }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} ATOM Feed" />
        {% if FEED_RSS %}
        <link href="{{ SITEURL }}/{{ FEED_RSS }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
        {% endif %}
        {# Javascript #}
        <!--[if IE]>
                <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
        <script type="text/javascript" src="{{ SITEURL }}/theme/js/jquery.mmenu.min.all.js"></script>
        <script type="text/javascript" src="{{ SITEURL }}/theme/js/jquery.tipsy.js"></script>
        <script type="text/javascript">
            $(function() {
                $('#menu').mmenu({
                    dragOpen: true,
                    zposition : 'next',
					classes		: 'mm-light',
					counters	: true,
					labels		: {
						fixed		: !$.mmenu.support.touch
					},
					header		: {
						add			: true,
						update		: true,
                        title		: '{{ SITENAME }}'
					}
                });
            });
        </script>
        {% block jshead %}
        {% endblock %}
</head>

<body>
    <div id="page">
        <div id="header">
            <a id="menuimg" href="#menu"></a> <div id="menutext">Menu</div>
            {#
                {% for name, link in SOCIAL %}
                    <a class="social" href="{{ link }}"><img src="{{ SITEURL }}/theme/images/{{ name }}.png" alt="{{ name|capitalize  }}" title="{{ name|capitalize  }}" class="tipster"></a>
                {% endfor %}
            #}
        </div>
        <nav id="menu">
        <ul>
            {% for page in PAGES %}
            <li><a href="{{ SITEURL }}/{{ page.url }}">{{ page.title }}</a></li>
            {#{% if not loop.last %} ::{% endif %}#}
            {% endfor %}
            {% if WORKLINKS | length > 1 %}
            <li class="Label">{{ WORKTITLE }}</li>
            {% for name, link in WORKLINKS %}
            <li><a href="{{ link }}">{{ name }}</a></li>
            {% endfor %}
            {% endif %}
            {% if categories | length > 1 %}
            <li class="Label"><a href="{{ SITEURL }}/{{ ARTICLE_DIR }}">Blog</a></li>
            <li><a href="{{ SITEURL }}/{{ categories.url  }}">Categories</a>
                <ul>
                {% for category, articles in categories %}
                <li><a href="{{ SITEURL }}/{{category.url}}">{{ category }}</a></li>
                {# <ul>   
                {% for article in articles  %}
                <li><a href="{{SITEURL}}/{{article.url}}">{{ article.title }}</a></li>
                {% endfor %}
                </ul> #}
                {% endfor %}
                </ul>
            </li>
            {% endif %}
        </ul>
        </nav>

        <div id="content"> 
            {% block content %}
            {% endblock %}

            <div id="social">
                {% for name, link in SOCIAL %}
                    <a class="social" href="{{ link }}"><img src="{{ SITEURL }}/theme/images/{{ name }}.png" alt="{{ name|capitalize  }}" title="{{ name|capitalize  }}" class="tipster"></a>
                {% endfor %}
            </div>

        </div>
            <footer> Powered by <a href="http://getpelican.com/">Pelican</a> </footer>
    </div>

<script>
$(document).ready(function(){

    $('#menutext').hide(); 
    $('#menuimg').hover(
        function(){
            $('#menutext').fadeIn(200); 
        },
        function(){
            $('#menutext').fadeOut(200); 
        }
    );

$('.first').click(function(){
    $('#opener').toggle();
});
$('#upcoming').click(function() {
    $('#events').fadeToggle('slow');
});
$('#past').click(function() {
    $('#pastevents').fadeToggle('slow')	
});
$('#cv').click(function() {
    $('#bio').fadeToggle('slow')
});

$(function() {$('#myCanvas').hide().fadeIn(5000);});

$('.tipster').tipsy({gravity:'n',fade: true, delayIn:500});	

});
</script>
{% include 'analytics.html' %}
{% block jsfoot %}
{% endblock %}

</body>
</html>
