{% extends "base.html" %}
{% block content_title %}{% endblock %}
{% block content %}        
<canvas id="myCanvas"> </canvas>

            <header>
                <h1><a href="{{ SITEURL }}" id="page-title">{{ SITENAME }}</a></h1>
                <span id="sitename"><a href="{{ SITEURL }}" id="site-title">{{ SITENAME }} {% if SITESUBTITLE %} <strong>{{ SITESUBTITLE }}</strong>{% endif %}</a> &sdot;</span>
            </header>
{% endblock content %}

{% block jsfoot %}
<script type="text/javascript" src="/theme/js/anim.js"> </script>
{#  -- stratus seems to require 1.8
<script type="text/javascript" src="http://stratus.sc/stratus.js"></script>
<script type="text/javascript">
$(document).ready(function(){
    $.stratus({
        links: 'http://soundcloud.com/foofighters/sets/wasting-light'
    });
});
</script>
#}
{% endblock %}
